*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}
html,
body {
  min-height: 100vh;
}
body {
  color: #21263b;
  font-family: Poppins-Regular, sans-serif;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins-SemiBold, sans-serif;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.75rem;
}
h6,
small {
  font-size: 0.5625rem;
}
p,
span,
a,
label {
  font-size: 0.875rem;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: #e5e5e5;
  color: #283552;
  border: 1px solid;
  cursor: pointer;
  font-family: Poppins-Bold, sans-serif;
  font-size: 0.75rem;
  transition: all 0.3s ease;
  outline: 0;
}
button:active {
  transform: scale(0.96);
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  padding: 1rem;
}
.menu-item {
  text-align: center !important;
  height: 30px !important;
  padding: 0 12px !important;
  line-height: 25px !important;
  border-bottom: 1px solid #979797 !important;
}
.card {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.card.z-1 {
  -webkit-box-shadow: -4px 24px 28px -17px rgba(125, 125, 125, 1);
  -moz-box-shadow: -4px 24px 28px -17px rgba(125, 125, 125, 1);
  box-shadow: -4px 24px 28px -17px rgba(125, 125, 125, 1);
}
.m-t-1 {
  margin-top: 1rem;
}
.m-t-2 {
  margin-top: 2rem;
}
@media (min-width: 1020px) {
  .container {
    max-width: 960px;
    padding: 0;
  }
}
@media (min-width: 1320px) {
  .container {
    max-width: 1152px;
    padding: 0;
  }
}
