@font-face {
  font-family: Volte-Rounded-Regular;
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Rubik/Rubik-Bold.ttf');
}
@font-face {
  font-family: Poppins-ExtraLight;
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/Poppins/Poppins-ExtraLight.ttf');
}
@font-face {
  font-family: Poppins-Light;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-Medium;
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: Poppins-Bold;
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-ExtraBold;
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Poppins/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: Poppins-Black;
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/Poppins/Poppins-Black.ttf');
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
.btn,
.btn-first,
.btn-first-bg {
  align-items: center;
  border: none;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  font-family: Poppins-Bold, sans-serif;
  font-weight: 100;
  justify-content: center;
  letter-spacing: 0;
  min-width: 9rem;
  padding: 0.8rem;
  text-align: center;
  text-decoration: none;
}
.btn:hover,
.btn-first:hover,
.btn-first-bg:hover {
  text-decoration: none;
}
.btn > img,
.btn-first > img,
.btn-first-bg > img {
  width: 1.3rem;
}
.btn-first {
  background: white;
  border: 1px solidwhite;
  color: #ff4759;
}
.btn-first-bg {
  background: #ff4759;
  color: white;
}
.btn-green-bg {
  background-color: #1dc1c1;
  color: white;
  border-radius: 1px;
  box-shadow: none;
}
.landing-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21263b;
}
.landing-hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 515px;
  max-width: 990px;
  margin: 0 auto;
  position: relative;
}
.landing-hero__logo-desktop {
  position: absolute;
  width: 125px;
  top: 35px;
  left: -80px;
}
.landing-hero__logo-mobile {
  display: none;
}
.landing-hero__points {
  position: absolute;
  top: 70px;
  width: 230px;
  left: 270px;
}
.landing-hero__text {
  align-self: center;
  text-align: center;
  width: 390px;
}
.landing-hero__text-title {
  color: white;
  font-size: 2.8rem;
  font-family: Poppins-Light, sans-serif;
  line-height: 2.8rem;
  transform: rotate(-3deg);
}
.landing-hero__text-subtitle {
  color: #ff4759;
  font-size: 3rem;
  line-height: 3rem;
  font-family: Poppins-Black, sans-serif;
  font-style: italic;
  transform: rotate(-3deg);
}
.landing-hero__text-desc {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  max-width: 260px;
  margin: 0 auto;
  margin-top: 1rem;
}
.landing-hero__image {
  position: relative;
}
.landing-hero__image .img-hero-desktop {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  z-index: 5;
}
.landing-hero__image .img-hero-mobile {
  display: none;
}
.landing-hero__message {
  display: flex;
  max-width: 755px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  z-index: 1000;
}
.landing-hero__message p {
  font-size: 1rem;
}
.landing-hero__message .images {
  display: flex;
}
.landing-hero__message .images img {
  width: 30px;
  object-fit: contain;
  margin-left: 0.5rem;
}
.footer {
  background-color: #21263b;
  padding: 2rem;
}
.footer.white {
  background-color: #f6f6f6;
}
.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content .logo {
  width: 90px;
}
.form-group label {
  font-size: 0.7rem;
  font-family: Poppins-Medium, sans-serif;
}
.form-group .input-info {
  color: #515e85;
  font-size: 0.8rem;
  margin: 0;
  margin-top: 0.4rem;
  padding: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  color: #21263b;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
textarea {
  height: auto !important;
}
select.form-control[size],
select.form-control[multiple] {
  height: auto;
}
textarea.form-control {
  height: auto;
}
*:focus {
  border-color: inherit;
  outline: none;
  box-shadow: none;
}
*:focus::placeholder {
  color: transparent;
}
*::placeholder {
  color: rgba(74, 74, 74, 0.4);
  font-size: 0.8rem;
}
.contact-form {
  padding-top: 6rem;
  padding-bottom: 4rem;
  position: relative;
  overflow: hidden;
}
.contact-form #my-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.contact-form .oval-1 {
  position: absolute;
  left: 0;
  width: 125px;
  top: 50%;
  transform: translate(0, -50%);
}
.contact-form .oval-2 {
  position: absolute;
  right: 0;
  right: 40px;
  width: 60px;
  bottom: 60px;
}
.contact-form__success {
  text-align: center;
}
.contact-form__success img {
  width: 72px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.contact-form__success-title {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: Poppins-Bold, sans-serif;
}
.contact-form__success p {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 1rem;
}
.contact-form__card {
  max-width: 610px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 6rem;
  position: relative;
  border-top: 12px solid #ff4759;
  border-radius: 8px;
  min-height: 540px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact-form__card-title {
  font-size: 1.3rem;
  font-family: Poppins-Bold, sans-serif;
  font-weight: 500;
}
.contact-form__card-agree {
  text-align: center;
  margin-top: 1rem;
}
.contact-form__card-agree label {
  font-size: 0.8rem;
}
.contact-form__card-agree a {
  font-size: 0.8rem;
  text-decoration: underline;
  color: #00bfbf;
}
.contact-form__card .btn {
  margin: 0 auto;
  min-width: 220px;
  margin-top: 2rem;
}
.contact-form__card textarea {
  height: 120px !important;
}
.contact-form__card .card-success {
  position: absolute;
  top: 33%;
  left: 33%;
  width: 240px;
}
.contact-form__card .card-success {
  position: absolute;
  top: 33%;
  left: 33%;
  width: 240px;
}
.contact-form__card.success #success {
  display: block;
}
.contact-form__card.success #title {
  display: none;
}
.contact-form__card.success #form {
  display: none;
}
.error {
  color: red;
  font-size: 0.7rem;
}
#success {
  display: none;
}
/* mat-checkbox {
	 /deep/ &.mat-checkbox-focused{
		 .mat-ink-ripple{
			 background-color: $color-active;
		}
	}
	 /deep/ .mat-checkbox-mixedmark {
		 background-color: $color-active;
	}
	 /deep/ .mat-checkbox-checkmark-path {
		 stroke: $color-active !important;
	}
}
 */
@media (max-width: 720px) {
  .contact-form {
    padding-top: 0rem;
  }
  .contact-form__card {
    padding: 4rem 1rem;
    border-top: 0;
    box-shadow: none;
  }
  .contact-form__card-title {
    text-align: center;
  }
  .contact-form__card textarea {
    height: 85px !important;
  }
  .contact-form #my-canvas.success {
    z-index: 100;
  }
}
@media (max-width: 1090px) {
  .landing-hero__logo-desktop {
    left: -1%;
  }
  .landing-hero__points {
    left: 160px;
  }
}
@media (max-width: 1024px) {
  .landing-hero__logo-desktop {
    left: 25px;
  }
  .landing-hero__points {
    left: 40px;
  }
}
@media (max-width: 720px) {
  .landing-hero__container {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 10rem;
  }
  .landing-hero__logo-desktop {
    display: none;
  }
  .landing-hero__logo-mobile {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 2rem;
  }
  .landing-hero__points {
    display: none;
  }
  .landing-hero__image {
    position: static;
  }
  .landing-hero__image .img-hero-desktop {
    display: none;
  }
  .landing-hero__image .img-hero-mobile {
    display: block;
    position: absolute;
    right: -15px;
    top: -25px;
    width: 120px;
  }
  .landing-hero__message {
    box-shadow: none;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    bottom: -50px;
    left: 0;
    transform: translate(0);
  }
  .landing-hero__message p {
    max-width: 300px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .landing-hero__text {
    width: 100%;
  }
}
