@font-face {
  font-family: Poppins;
  font-weight: normal;
  src: local("Poppins"),
    url(./assets/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: local("Poppins"),
    url(./assets/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: local("Poppins-Medium"),
    url(./assets/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: local("Poppins"),
    url(./assets/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  font-weight: bold;
  src: local("Poppins-Bold"),
    url(./assets/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: normal;
  font-style: italic;
  src: local("Poppins-MediumItalic"),
    url(./assets/Poppins/Poppins-LightItalic.ttf);
}

@font-face {
  font-family: Poppins;
  font-weight: bold;
  font-style: italic;
  src: local("Poppins-BoldItalic"),
    url(./assets/Poppins/Poppins-BoldItalic.ttf);
}


@font-face {
  font-family: Poppins-Bold;
  src: local("Poppins-Bold"),
    url(./assets/Poppins/Poppins-Bold.ttf);
}

body {
  margin: 0;
  font-family: Poppins;
};

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
};
